/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Estilização do header */
header {
    background-color: #d3d3d3;
    padding: 1rem 0;
    justify-content: space-around;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilização do título */
header h1 {
    margin: 0;
    color: #45a049;
    font-size: 70%;
}

/* Estilização do main */
main {
    padding: 20px;
}
main p{
    font-size: 9px;
    text-align: center;
}
/* Estilização do botão */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

/* Estilização da seção de status */
.status {
    text-align: left;
    margin: 0 auto;
    max-width: 400px;
}

.status h2 {
    font-size: 10px;
    color: #333;
}

.status ul {
    list-style-type: none;
    padding: 0;
}

.status ul li {
    background-color: #e6e6e6;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
/* Media query para telas menores */
@media (max-width: 480px) {
    /* Ajustes para telas menores */
    header h1 {
        font-size: 1rem; /* Reduz o tamanho do título para dispositivos móveis */
    }

    nav a {
        font-size: 0.9rem; /* Reduz o tamanho dos links de navegação */
        margin: 0 10px; /* Ajusta as margens dos links */
    }

    button {
        font-size: 0.9rem; /* Reduz o tamanho do botão */
        padding: 8px 16px; /* Ajusta o padding do botão */
    }

    .status h2 {
        font-size: 1rem; /* Reduz o tamanho do título de status */
    }

    .status ul li {
        font-size: 0.9rem; /* Reduz o tamanho dos itens da lista de status */
    }
      /* Exibe o botão de hambúrguer em telas menores */
    
}